<div class="outer">
  <h2>
    Welcome {{data}}
  </h2>
<!-- <app-child (updateDataEvent)="updateData($event)"></app-child> -->
</div>
<!-- <div class="todo">
  <h1>TODO APPLICATION</h1>
  <input placeholder="Enter a todo task" #task>
  <button id="enterbtn" (click)="enterButton(task)">Enter</button>
  <ul *ngFor="let insaan of list">
    <li>{{insaan.name}}</li>
  <button id="deletebtn" (click)="nikalo(insaan.id)">Delete It</button>
</ul>  -->
  <!-- <button (click)="removeTask(item.id)">Delete</button> -->
 
<!-- </div> -->

<!-- <app-child (dataEmitter)="receiveData($event)"></app-child> -->

<app-formreactive></app-formreactive>
{{incoming}}